
body {
    background-color: #0d0d0d;
    color: #f9f6f6;
    overflow: hidden;
}

.loading-screen {
    z-index: 99999;
    display: flex;
}

.l-Side-Nav {
    z-index: 999;
}

.Navbar-content {
    background-color: #0d0d0d;
    white-space: nowrap;
    padding: 1.5rem;
    display: none;
}

.nav-logo {
    width: 50px;
}

.Nav-control i {
    cursor: pointer;
}



.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
    
    
}

.meal-layer {
    width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: .5s;
  
}

.cursor-pointer {
    cursor: pointer;
}

#viewData .meal:hover .meal-layer {
    top: 0;
}

